@charset "UTF-8";

@font-face {
    font-family:'padrão';
    src:url('../fonts/KalniaGlaze-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'placa';
    src: url('../fonts/KGChasingCars.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'coelho';
    src: url('../fonts/KR\ Bunny\ Dings.ttf') format('truetype'); 
    font-weight: normal;
}

:root {
    --rosa_claro: #fcc7e9;
    --rosa_medio: #c967a3;
    --rosa_escuro: #8f0a60;
    --rosa_forte: #e100ff;
    --escuro: #332B30;

    --fonte-coelho: 'coelho', 'cursive';
    --fonte-padrão: 'padrão', 'arial';
    --fonte-placa: 'placa', 'cursive';
    
}

body {
    background-color: var(--rosa_claro);
}

header > h1 {
    color: var(--rosa_escuro);
    font-family: var(--fonte-coelho);
    
}

