@charset "UTF-8";

@font-face {
    font-family:'';
}

:root {
    --rosa_claro: #fcc7e9;
    --rosa_medio: #c967a3;
    --rosa_escuro: #8f0a60;
    --rosa_forte: #e100ff;
    --escuro: #332B30;
    
}

body {
    background-color: var(--rosa_claro);
}

header > h1 {
    color: var(--rosa_escuro);
}

